//  ======================================================================================================
//
//  Include All Fonts
//
//  ======================================================================================================

//  ==========================================================================
//   (BrandonGrotesqueWeb-Medium and CervoNeue-BoldNeu open source from MyFontsWebfontsKit)
//  ==========================================================================

@include declare-font-face('Brandon Grotesque Web Medium', '/fonts/BrandonGrotesqueWeb-Medium', '/fonts/BrandonGrotesqueWeb-Medium', '/fonts/BrandonGrotesqueWeb-Medium', '/fonts/BrandonGrotesqueWeb-Medium');
@include declare-font-face('Cervo Neue Bold Neue', '/fonts/CervoNeue-BoldNeue', '/fonts/CervoNeue-BoldNeue', '/fonts/CervoNeue-BoldNeue', '/fonts/CervoNeue-BoldNeue');
