---
title: 404 Page Not Found
---

<div class="welcome">
  <h1>404 Page Not Found</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
