/*  ==========================================================================
//
//  Main Info
//
//  ========================================================================== */
.main-info {
  margin: 0 auto;
  max-width: 43%;
}

.main-info__mission {
  margin-top: 20px;
}

.logo-mark {
  margin: 0 auto 10px;
  max-width: 350px;
  width: 22%;
}

.logo-type__jfs { margin-bottom: 5px; }
